 @media screen and (min-width: 1200px) {
     .container {
         max-width: 1128px;
     }

     .section-about {
         max-width: 1440px;
         padding: 188px 0;
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)),
             url(../images/people-office.jpg);
     }

     @media (min-device-pixel-ratio: 2),
     (min-resolution: 192dpil),
     (min-resolution: 2dppx) {
         section-about {
             background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                     rgba(46, 47, 66, 0.7)),
                 url(../images/people-office-2x.jpg);
         }
     }

     .section-about-title {
         font-size: 56px;
         line-height: 1.07;
         width: 496px;
     }

     .section-future {
         padding: 0 0 120px 0;
     }

     .section-future-caption {
         font-size: 36px;
         line-height: 1.11;
         letter-spacing: 0.02em;
         color: var(--main-font-color);
         text-align: center;
         text-transform: capitalize;
         margin-bottom: 72px;
     }

     .section-future-list {
         display: flex;
         gap: var(--secondary-mrgn);
         list-style: none;
     }

     .section-future-item {
         width: calc((100% - 48px) / 3);
     }

     */ .section-about-title {
         font-size: 56px;
         line-height: 1.07;
         width: 496px;
         margin-bottom: 48px;
     }

     .section-services {
         padding: 120px 0;
     }

     .section-services-list {
         display: flex;
     }

     .services-bg {
         display: flex;
     }

     .services-icon {
         width: 64px;
         height: 64px;
     }

     .section-services-item {
         margin-right: var(--secondary-mrgn);
         width: 264px;
     }

     .section-services-item:last-child {
         margin: 0;
     }

     .section-services-subtitle {
         font-size: 16px;
         line-height: 1.5;
     }

     .section-services-text {
         font-size: 16px;
         line-height: 1.5;
     }

     .section-future {
         padding: 0 0 120px 0;
     }

     .section-future-caption {
         font-size: 36px;
         line-height: 1.11;
         letter-spacing: 0.02em;
         color: var(--main-font-color);
         text-align: center;
         text-transform: capitalize;
         margin-bottom: 72px;
     }

     .section-future-list {
         display: flex;
         gap: var(--secondary-mrgn);
         list-style: none;
     }

     .section-future-item {
         width: calc((100% - 48px) / 3);
     }

     */ .section-future-caption {
         font-size: 36px;
         line-height: 1.11;
         letter-spacing: 0.02em;
         color: var(--main-font-color);
         text-align: center;
         text-transform: capitalize;
         margin-bottom: 72px;
     }

     .section-future-list {
         display: flex;
         gap: var(--secondary-mrgn);
         list-style: none;
     }

     .section-future-item {
         width: calc((100% - 48px) / 3);
     }

     .section-contact,
     .section-customers {
         padding-top: 120px;
         padding-bottom: 120px;
     }

     .section-contact-item {
         width: calc((100% - 72px) / 4);
         gap: 24px;
     }

     .section-customers-item {
         width: calc((100% - 5 * 24px) / 6);
         gap: 24px;
     }

     .footer {
         width: 1440px;
         padding: 100px 0;
     }

     .footer-list {
         list-style-type: none;
         display: flex;
         gap: 24px;
     }
 }