@media screen and (max-width: 767px) {
    .header-list {
        display: none;
    }

    .header-address {
        display: none;
    }
}



.section-about {
    max-width: 428px;
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office-mob.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpil),
(min-resolution: 2dppx) {
    .section-about {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-mob-2x.jpg);
    }
}

.section-about-title {
    font-size: 36px;
    line-height: 1.11;
    width: 320px;
    margin-bottom: 72px;
}

@media screen and (max-width: 1199px) {
    .services-bg {
        display: none;
    }

    .section-future {
        display: none;
    }
}


.section-services {
    padding: 96px 16px;
}

.section-services-item {
    width: 100%;
}

.section-services-item:not(:last-child) {
    margin-bottom: 72px;
}


.section-contact {
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-contact-item {
    width: 100%;
}

.section-customers-list {
    flex-wrap: wrap;
}

.section-customers-item {
    width: calc((100% - 16px) / 2);
}

.footer-list {
    width: 100%;
    margin-bottom: 72px;
}


.title-subscribe {
    text-align: center;
}

.footer-input {
    width: 100%;
}

.btn-subscribe {
    margin-top: 16px;
}