 @media screen and (min-width: 768px) {
     .container {
         max-width: 766px;
     }

     @media screen and (max-width: 1199px) {
         .header-list-info {
             display: block;
             margin-left: 121px;
         }
     }

     .header-link-title {
         margin-right: 76px;
     }

     .header-btn {
         display: none;
     }

     .header-nav-mob {
         background-color: transparent;
         max-width: unset;
         height: unset;
         position: static;
     }

     .header-btn-close {
         display: none;
     }

     .header-icon-list {
         display: none;
     }


     .header-list {
         display: flex;
         gap: 40px;
         padding: 0;
         margin: 0;
     }

     .header-link {
         font-weight: 500;
         font-size: 16px;
         line-height: 1.5;
     }

     .header-item {
         margin-bottom: 0;
         list-style: none;
         display: block;
     }


     .header-mail {
         font-style: normal;
         font-size: 16px;
         line-height: 1.5;
         margin-bottom: 0;
         color: var(--info-color);
         text-decoration: none;
         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }

     .header-mail:hover,
     .header-mail:focus {
         color: var(--accent-color)
     }

     .header-tel {
         font-style: normal;
         font-size: 16px;
         line-height: 1.5;
         margin-bottom: 0;
         color: var(--info-color);
         text-decoration: none;
         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }

     .header-tel:hover,
     .header-tel:focus {
         color: var(--accent-color);
     }

     .section-about {
         max-width: 768px;
         padding: 112px 0;
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)),
             url(../images/people-office-tab.jpg);
     }

     @media (min-device-pixel-ratio: 2),
     (min-resolution: 192dpil),
     (min-resolution: 2dppx) {
         .section-about {
             background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                     rgba(46, 47, 66, 0.7)),
                 url(../images/people-office-tab-2x.jpg);
         }
     }

     .section-about-title {
         font-size: 56px;
         line-height: 1.07;
         width: 496px;
         margin-bottom: 36px;
     }

     .section-services {
         padding: 96px 16px;
     }

     .section-services-subtitle {
         margin-bottom: 8px;
         text-align: start;
     }

     .section-services-text {
         font-weight: 500;
     }

     .section-services-list {
         display: flex;
         flex-wrap: wrap;
         column-gap: 24px;
         row-gap: 72px;
     }

     .section-services-item {
         width: calc((100% - 24px) / 2);
         width: 356px;
     }


     .section-contact {
         width: 766px;
         padding-top: 96px;
         padding-bottom: 96px;
     }

     .container-sm {
         width: 582px;
     }



     .section-contact-list {
         display: flex;
         flex-wrap: wrap;
         gap: 24px;
     }

     .section-contact-item {
         width: calc((100% - 24px) / 2);
     }

     .section-customers {
         padding-top: 96px;
         padding-bottom: 96px;
         width: 582px;
     }

     .section-customers-list {
         flex-wrap: wrap;
         column-gap: 24px;
         row-gap: 72px;
     }


     .section-customers-item {
         width: calc((100% - 48px) / 3);
     }


     .footer-container {
         max-width: 582px;
         display: flex;
         padding: 0;
         flex-wrap: wrap;
     }

     .footer-media {
         margin-left: 24px;
     }

     .footer-form {
         width: 264px;
         display: flex;

     }

     .footer-input {
         margin-top: 72px;
     }

     .btn-subscribe {
         margin-left: 24px;
     }

     .footer-list {
         display: flex;
         gap: 24px;
         margin: 0;
     }
 }