 @media screen and (min-width: 768px) {
     .container {
         max-width: 766px;
     }

     @media screen and (max-width: 1199px) {
         .header-list-info {
             display: block;
         }
     }

     .header-nav-mob {
         background-color: transparent;
         max-width: unset;
         height: unset;
         position: static;
     }

     .header-btn-close {
         display: none;
     }


     .header-list {
         display: flex;
         gap: 40px;
         padding: 0;
         margin: 0;
     }

     .header-link {
         font-weight: 500;
         font-size: 16px;
         line-height: 1.5;
     }

     .header-item {
         margin-bottom: 0;
     }

     .header-mail {
         font-size: 16px;
         line-height: 1.5;
         margin-bottom: 0;
     }

     .header-tel {
         font-size: 16px;
         line-height: 1.5;
         margin-bottom: 0;
     }

     .section-about {
         max-width: 768px;
         padding: 112px 0;
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)),
             url(../images/people-office-tab.jpg);
     }

     @media (min-device-pixel-ratio: 2),
     (min-resolution: 192dpil),
     (min-resolution: 2dppx) {
         .section-about {
             background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                     rgba(46, 47, 66, 0.7)),
                 url(../images/people-office-tab-2x.jpg);
         }
     }

     .section-about-title {
         font-size: 56px;
         line-height: 1.07;
         width: 496px;
         margin-bottom: 36px;
     }

     .section-services {
         padding: 96px 16px;
     }

     .section-services-list {
         display: flex;
         flex-wrap: wrap;
     }

     .section-services-item {
         width: calc((100% - 24px) / 2);
     }


     .section-contact,
     .section-customers {
         padding-top: 96px;
         padding-bottom: 96px;
     }

     .section-contact-list {
         display: flex;
         flex-wrap: wrap;
         gap: 24px;
     }

     .section-contact-item {
         width: calc((100% - 24px) / 2);
     }

     .section-customers-list {
         flex-wrap: wrap;
     }


     .section-customers-item {
         width: calc((100% - 48px) / 3);
     }


     .footer-container {
         max-width: 768px;
         width: calc((100% - 24px) / 2);
         display: flex;
     }

     .footer-list {
         display: flex;
         gap: 24px;
     }
 }